streamlit
pillow
transformers>=4.49,<5.0
torch
easyocr
opencv-python
langchain
streamlit
pillow
transformers>=4.49,<5.0
torch
easyocr
opencv-python
langchain
langchain-groq
groq
python-dotenv
reportlab
langchain-community
faiss-cpu
sentence-transformers
pypdf
